<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css">
        <title>Wiki Page</title>
    </head>

    <body>

        <table align="center">
            <tr>
                <td width=800px>
                    <div class="main-title">Wiki Page</div>
                </td>

                <td width=100px style="text-align: right">
                    <div id="loginsymbol">
                        <a href={{leftLink}}>{{leftString}}</a>
                        <a>/</a>
                        <a href={{rightLink}}>{{rightString}}</a>
                    </div>
                </td>
            </tr>

        </table>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
